{% extends 'home_app/base.html' %}
{% load static %}

{% block body_block %}

<article>
    <div class="intro-part">
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <div class="page-header">
                        <h1>Welcome to CityMap!</h1>
                    </div>
                    <h2> Find <code>your perfect</code> place</h2>
                    <p class="text-justify lead">
                        Have you ever been in situation when you had to find nearby place to stay or eat? Or just repair
                        your clothes? Or even fix you clock?
                        And you need to find this places fast and simple.
                    </p>
                    <p class="lead">
                        We at CityMap will help you!
                    </p>
                </div>
                <div class="col-md-6">
                    <div id="map">
                        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1819.4570217808553!2d24.031288208437463!3d49.840563559874994!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x473add6dae655555%3A0xa71a5e1b2bbc4d64!2sLviv+city+council!5e0!3m2!1sen!2sua!4v1546479723266"
                                width="560" height="380" frameborder="0" style="border:0" allowfullscreen></iframe>
                    </div>
                </div>
            </div> <!-- .row -->
        </div> <!-- .container -->
    </div> <!-- .intro-part -->
</article>


<article class="top-places text-justify">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <div class="lviv-view-wrapper">
                    <img src="{% static 'img/lviv-view.jpg' %}" class="img-responsive img-thumbnail"
                         alt="Lviv downtown">
                </div>
            </div>
            <div class="col-md-6">
                <h2>Top-10 Lviv attractions</h2>
                <p class="lead">
                    If you are stopping by in Lviv for a short time and you don't have enough time to experience all the
                    beauty of Lviv, we give you <a
                        href="http://lviv.travel/en/index/what_to_do/architecturelviv/top10places" target="_blank">Top
                    10 places</a>
                    you must see in Lviv. They are all situated in the compact city center and it will take you
                    approximately 3 hours to see
                    them all.
                </p>
                <p class="lead">
                    If you are looking for more <code>unique</code> places and things our site will
                    help you in this trip!
                </p>
                <p class="lead">
                    Already know some cool and interesting places? Add them to our database <a
                        href="{% url 'places:add_places' %}">here!</a>
                </p>
            </div>
        </div>
    </div>
</article>

{% endblock %}
