{% extends 'home_app/base.html' %}
{% block body_block %}
    <div class="container">
        <div class="jumbotron">
            <h3 class="text-center">Please enter (and confirm) your new password:</h3>
            <div class="row ">
                <div class="col-sm-6 col-sm-offset-3">
                    <form method="post" id="PasswordConfirmForm">
                        {% csrf_token %}
                        <input type="password" class="input-lg form-control" name="password1" id="password1" placeholder="New Password" autocomplete="off">
                        {{ form.password }}
                        <hr>
                        <input type="password" class="input-lg form-control" name="password2" id="password2" placeholder="Repeat New Password" autocomplete="off">
                        {{ form.confirm_password }}
                        {{ form.confirm_password.errors }}
                        <hr>
                        <input type="submit" class="col-xs-12 btn_without_frame btn-load btn-lg"  value="Change Password">
                    </form>
                </div>
            </div>
        </div>
    </div>



{% endblock %}